* {
    border: 1px solid black;
}

body {

}

.section {
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    width: 1000px;
    flex: 0 1 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.content-header {
    justify-content: space-between;
}

.links-header {
    text-decoration: none;
    list-style-type: none;
    display: flex;
    gap: 20px;
    font-size: 18px;
    color: #E5E7EB;
}

.content-hero {
    display: flex;
    gap: 50px;
    font-size: 18px;
    color: #E5E7EB;
}

.hero-big {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 800;
}

.img-placeholder {
    width: 475px;
    height: 190px;
    flex: 1 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: darkgrey;
}

button {
    width: 75px;
    height: 25px;
    background-color: #3882f6;
    border-radius: 4px;
    color: #E5E7EB;
    font-weight: bold;
}

.logo-header {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: bold;
}

.section-header, .section-footer {
    height: auto;
}

.section-header, .section-hero {
    background-color: #1F2937;
}

.section-quote {
    background-color: #E5E7EB;
}


