* {
    /* border: 1px solid black; */
}

body {
    font-family: roboto, sans-serif;
    display: flex;
    flex-direction: column;
}

.hero-statement, .information, .quote, .sign-up {
    flex: 1;
    display: flex;
    height: 300px;
    justify-content: center;
    align-items: center;
}

.header {
    flex: 1;
    display: flex;
}

.header-links {
    display: flex;
    gap: 20px;
}

a {
    flex: 1;
}

.header-logo {
    flex: 1 0 auto;
    font-size: 24px;
    color: #F9FAF8;
    display: flex;
    align-items: center;
}

.header, .hero-statement, .footer {
    background-color: #1F2937;
    font-size: 18px;
    color: #E5E7EB;
}

ul {
    list-style-type: none;
    padding: 0;
}

.hero-statement {
    gap: 30px;
}

.hero-text {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.hero-big {
    flex: 1;
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 800;
}

button {
    width: 100px;
    height: 25px;
    background-color: #3882F6;
    color: #F9FAF8;
    border-radius: 5px;
}

.img-placeholder {
    flex: 1;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: darkgray;
}

